.formLogin {
    width: 100%;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1  {
    text-align: center;
}

.formLogin label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.formLogin input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.bottonLogin {
    width: 167px;
    height: 80px;
    background-color: #6278F7;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.bottonLogin:hover {
    color: #95ffd4;
}

a {
    text-decoration: none;
}